.footer {
    color: #777777;
    font-family: 'Monteserrat';
    font-weight: 400;
    font-size: 11px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 19 px #0000000D;

    
}