
.movie-img {
  margin-top: -20px;
}


.card-title {
    font-family: 'Bitter';
    font-weight: bold;
    font-size: 38px;
    color: #FF4436;

}

.card-year {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 20px;
  color: #777777;

}
.card-director {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 16px;
  color: #cccccc;

}

.card-description {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 16px;
  color: #777777;

}

.movie-info {
  p {
      span {

      }
  }
}
