
  .form {
    margin: 0px auto;
    max-width: 500px;
    box-shadow: 0px 3px 19px #0000000D;
    .label {
      font-family: 'Raleway';
      font-weight: bold;
      font-size: 16px;
      color: #777777;
    }
  }

  h2 {
    font-family: 'Bitter';
    font-weight: bold;
    font-size: 38px;
    color: #777777;
  }

  .form-bottom-p {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 16px;
    color: #777777;
  }
  .form-link {
    color: #ff4436;
    text-decoration: underline;
  }
  