<div *ngIf="reviews" class="row">
  <div *ngIf="firstReview" class="col-12">
      <div class="row">
          <div class="col-12 d-inline-flex">
              <div class="flex">
                  <app-input-star-rating [rating]="firstReview.rating" [starCount]="5" [padding]="0" [size]="24"></app-input-star-rating>
              </div>
              <div class="flex ml-2">
                  <p class="review-author mt-2">by {{firstReview.user_nickname}}<span class="ml-2">{{firstReview.updated_at | timeAgo}}</span></p>
              </div>
          </div>
          <div class="col-12 mt-4 mb-4">
              <p class="review-body">{{firstReview.body}}</p>
          </div>
          <div class="col-12">
              <p class="read-all-reviews">Read all <a (click)="routeToAllReviews()">{{reviewCountString}}</a></p>
          </div>
      </div>
  </div>
</div>
<div *ngIf="!reviews" class="row">
  <div class="col-12 text-center">
      <h1>There are no reviews for this movie yet!</h1>
  </div>
</div>
