h1 {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 24px;
  color: #777777;
}

.review-author {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 16px;
  color: #777777;
  span {
      color: #CCCCCC;
  }
}

.review-body {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 16px;
  color: #777777;
}

.read-all-reviews {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 16px;
  color: #777777;
  a {
      text-decoration: underline;
      color: #FF4436;
  }
}
