<div class="row">
  <div class="col-12 mt-5 pt-lg-5">
    <form class="form p-5 mb-5 mt-lg-5" [formGroup]="form">
      <ngb-alert class="text-center" *ngIf="errorMsg" type="danger" (close)="errorMsg = null">{{ errorMsg }}
      </ngb-alert>
      <h2 class="mb-5">Sign Up</h2>
      <div class="form-group row">
        <div class="col-6">
          <label class="label">First Name</label>
          <input [ngClass]="{'is-invalid': hasError && form.get('firstName').errors}" class="form-control" type="text"
            formControlName="firstName" placeholder="Jane">
          <label class="form-error" *ngIf="hasError && form.get('firstName').errors">
            <span class="text-danger" *ngIf="form.get('firstName').errors['required']">
              First Name is required!
            </span>
          </label>
        </div>
        <div class="col-6">
          <label class="label">Last Name</label>
          <input [ngClass]="{'is-invalid': hasError && form.get('lastName').errors}" class="form-control" type="text"
            formControlName="lastName" placeholder="Doe">
          <label class="form-error" *ngIf="hasError && form.get('lastName').errors">
            <span class="text-danger" *ngIf="form.get('lastName').errors['required']">
              Last Name is required!
            </span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Nickname</label>
        <input [ngClass]="{'is-invalid': hasError && form.get('nickName').errors}" class="form-control" type="text"
          formControlName="nickName" placeholder="Doe">
        <label class="form-error" *ngIf="hasError && form.get('nickName').errors">
          <span class="text-danger" *ngIf="form.get('nickName').errors['required']">
            Nickname is required!
          </span>
        </label>
      </div>
      <div class="form-group">
        <label class="label">Email</label>
        <input [ngClass]="{'is-invalid': hasError && form.get('email').errors}" class="form-control" type="email"
          formControlName="email" placeholder="you@youremailaddress.com">
        <label class="form-error" *ngIf="hasError && form.get('email').errors">
          <span class="text-danger" *ngIf="form.get('email').errors['required']">
            Email is required!
          </span>
        </label>
      </div>
      <div class="form-group">
        <label class="label">Password</label>
        <input [ngClass]="{'is-invalid': hasError && form.get('password').errors}" class="form-control" type="password"
          formControlName="password" placeholder="xxxxxxxxx">
        <label class="form-error" *ngIf="hasError && form.get('password').errors">
          <span class="text-danger" *ngIf="form.get('password').errors['required']">
            Password is required!
          </span>
          <span class="text-danger" *ngIf="form.get('password').errors['minlength']">
            Password does not meet minimum length!
          </span>
          <span class="text-danger" *ngIf="form.get('password').errors['maxlength']">
            Password has a maximum of 10 characters!
          </span>
        </label>
      </div>
      <div class="form-group">
        <label class="label">Password</label>
        <input [ngClass]="{'is-invalid': hasError && form.get('passwordConfirmation').errors}" class="form-control"
          type="password" formControlName="passwordConfirmation" placeholder="xxxxxxxxx">
        <label class="form-error" *ngIf="hasError && form.get('passwordConfirmation').errors['required']">
          <span class="text-danger">
            Password Confirmation is required!
          </span>
          <span class="text-danger" *ngIf="form.get('passwordConfirmation').errors['minlength']">
            Password Confirmation does not meet minimum length!
          </span>
          <span class="text-danger" *ngIf="form.get('passwordConfirmation').errors['maxlength']">
            Password Confirmation has a maximum of 10 characters!
          </span>
        </label>
        <label class="form-error" *ngIf="f.passwordConfirmation.errors && f.passwordConfirmation.errors.mustMatch">
          <span class="text-danger">
            Password and Password Confirmation Must Match.
          </span>
        </label>
      </div>
      <div class="form-footer-btns form-group mt-5 mb-2 row">
        <div class="col-6">
          <button type="submit" class="btn btn-primary btn-block" (click)="submitForm()">Register<fa-icon
              *ngIf="submitting" [icon]="['fas', 'spinner']" size="lg" class="ml-2 fa-spinner" spin="true">
            </fa-icon></button>
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-outline-primary btn-block" (click)="cancelForm()">Cancel<fa-icon
              *ngIf="submitting" [icon]="['fas', 'spinner']" size="lg" class="ml-2 fa-spinner" spin="true">
            </fa-icon></button>
        </div>
      </div>
      <div class="col-12 text-center mt-4 p-0">
        <p class="form-bottom-p">Already signed up? <a class="form-link" [routerLink]="['/login']">Sign in here</a></p>
      </div>
    </form>
  </div>
</div>
